<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Bibliography</title>
</head>
<body>
<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Truong, K., Neri, A., Cucchiarini, C., &amp; Strik, H. (2004). Automatic pronunciation error detection: An acoustic-phonetic approach. <i>Proceedings of the InSTIL/ICALL 2004 Symposium on Computer Assisted Learning</i>. <a href="https://www.isca-speech.org/archive/icall_2004/truong04_icall.html">https://www.isca-speech.org/archive/icall_2004/truong04_icall.html</a></div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=proceeding&amp;rft.atitle=Automatic%20pronunciation%20error%20detection%3A%20an%20acoustic-phonetic%20approach&amp;rft.btitle=Proceedings%20of%20the%20InSTIL%2FICALL%202004%20Symposium%20on%20Computer%20Assisted%20Learning&amp;rft.aufirst=K.&amp;rft.aulast=Truong&amp;rft.au=K.%20Truong&amp;rft.au=A.%20Neri&amp;rft.au=C.%20Cucchiarini&amp;rft.au=H.%20Strik&amp;rft.date=2004"></span>
  <div class="csl-entry">Truong, K. P. (2004). <i>Automatic pronunciation error detecion in Dutch as a second language: An acoustic-phonetic approach</i> [Master thesis, Radboud University Nijmegen/Utrecht University]. <a href="http://dspace.library.uu.nl/bitstream/handle/1874/8159/masterthesisKTruong.pdf">http://dspace.library.uu.nl/bitstream/handle/1874/8159/masterthesisKTruong.pdf</a></div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adissertation&amp;rft.title=Automatic%20pronunciation%20error%20detecion%20in%20Dutch%20as%20a%20second%20language%3A%20an%20acoustic-phonetic%20approach&amp;rft.aufirst=K.%20P.&amp;rft.aulast=Truong&amp;rft.au=K.%20P.%20Truong&amp;rft.date=2004"></span>
</div></body>
</html>
