<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Bibliography</title>
</head>
<body>
<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Kim, J., Truong, K. P., &amp; Evers, V. (2018). Automatic temporal ranking of children’s engagement levels using multi-modal cues. <i>Computer Speech &amp; Language</i>, <i>50</i>, 16--39. <a href="https://doi.org/10.1016/j.csl.2017.12.005">https://doi.org/10.1016/j.csl.2017.12.005</a></div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Automatic%20temporal%20ranking%20of%20children's%20engagement%20levels%20using%20multi-modal%20cues&amp;rft.jtitle=Computer%20Speech%20%26%20Language&amp;rft.volume=50&amp;rft.au=undefined&amp;rft.au=undefined&amp;rft.au=undefined&amp;rft.date=2018&amp;rft.pages=16--39&amp;rft.spage=16"></span>
  <div class="csl-entry">Neidlinger, K., Willson, C., Truong, K. P., Hermens, H., &amp; Evers, V. (2018). Nanogami: The microbiome expanded. Speak your truth. Listen to your gut. <i>Proceedings of the 2018 ACM International Symposium on Wearable Computers (ISWC ’18)</i>, 295–300. <a href="https://doi.org/10.1145/3267242.3267296">https://doi.org/10.1145/3267242.3267296</a></div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=proceeding&amp;rft.atitle=Nanogami%3A%20the%20microbiome%20expanded.%20Speak%20your%20truth.%20Listen%20to%20your%20gut.&amp;rft.btitle=Proceedings%20of%20the%202018%20ACM%20International%20Symposium%20on%20Wearable%20Computers%20(ISWC%20'18)&amp;rft.au=undefined&amp;rft.au=undefined&amp;rft.au=undefined&amp;rft.au=undefined&amp;rft.au=undefined&amp;rft.date=2018&amp;rft.pages=295-300&amp;rft.spage=295&amp;rft.epage=300"></span>
</div></body>
</html>
