<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Bibliography</title>
</head>
<body>
<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Zhong, T. Y., Tejedor-Garcia, C., Truong, K. P., Maas, J., Ten Bosch, L., &amp; Bloem, B. R. (2026). <i>A Benchmark for Early-stage Parkinson’s Disease Detection from Speech</i>. <a href="https://arxiv.org/abs/2605.14066">https://arxiv.org/abs/2605.14066</a></div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=proceeding&amp;rft.atitle=A%20Benchmark%20for%20Early-stage%20Parkinson's%20Disease%20Detection%20from%20Speech&amp;rft.aufirst=T.%20Y.&amp;rft.aulast=Zhong&amp;rft.au=T.%20Y.%20Zhong&amp;rft.au=C.%20Tejedor-Garcia&amp;rft.au=K.%20P.%20Truong&amp;rft.au=J.%20Maas&amp;rft.au=L.%20Ten%20Bosch&amp;rft.au=B.%20R.%20Bloem&amp;rft.date=2026"></span>
</div></body>
</html>
